@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;500;600&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

//this removes the arrow button from input number field
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

*{
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    letter-spacing: .5px;
    user-select: none;
}

img{
    width: 60px;
    height: 43px;
}

.bi{
    font-size: 20px;
}

.ff{
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 0;
}

.social-media i{
    font-size:25px;
    color:gray;
    margin: 5px;
    padding-left: 3px;
}
.social-media i:hover{
    color:white;
}

.footerItems li{
    color:gray;
}

.centerContainer{
    display: flex;
    width: 100%;
    margin-top: 13vh;
    margin-bottom: 5vh;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}

.theContainer{
    width: 100%;
    padding:0% 4%;
    min-height: 80vh;
}


.active{
    color: #1d4ed8;
}

.essentialDivHeight{
    height: 30rem;
}
@media screen and (max-width:640px){
    .essentialDivHeight{
        height: 21rem;
    }
    .centerContainer{
        margin-top: 8vh;
    }
}

.horizontal-images{
    &::-webkit-scrollbar{
        height: 10px;
    }
    &::-webkit-scrollbar-track{
        border-radius: 5px;
        background: #f1f1f1;   
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 5px;
        background-color: gray;
    }
}

.vertical-images{
    &::-webkit-scrollbar{
        display: none;
    }
}


@media screen and (max-width:640px){
    .social-media i{
        font-size: 18px;
    }
}

@media screen and (max-width:770px){
    .theAnotherContainer{
        margin-top: 8vh;
    }
    .horizontal-images{
        &::-webkit-scrollbar{
            height: 5px;
        }
    }
}

.productDetailImage{
    height: 70vh
}

@media screen and (max-width:1110px){
    .productDetailImage{
        height: 55vh
    }
}

@media screen and (max-width:500px){
    .productDetailImage{
        height: 40vh;
        padding: 15px;
        aspect-ratio: 1/1;
    }
}